<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <title>Document</title>
</head>

<body class="bg-mainBg text-text flex flex-col gap-1 items-center">
    <header class="w-10/12">
        <h1 class="text-2xl">
            {{.Name}}
        </h1>
    </header>
    <span class="w-10/12">
        Time:
        {{.Minutes}}
    </span>
    <span class="w-10/12">
        Submited:
        {{.Submitted}}
    </span>
    <!--<span>-->
    <!--    {{.Nutrition}}-->
    <!--</span>-->
    <span class="w-10/12">
        {{.N_steps}}
    </span>
    <main class="flex flex-col gap-1 bg-secondaryBg items-start w-10/12">
        {{range $i, $step := .Steps}}
        <p>
            {{$step}}
        </p>
        {{end}}
    </main>
    <p class="w-10/12">
        {{.Description}}
    </p>
    We have to use: {{.N_ingredients}}
    {{range $i, $ingredient := .Ingredients}}
    <span class="w-10/12">
        {{$ingredient}}
    </span>
    {{end}}
    <span class="w-10/12">
        {{range $i, $tag := .Tags}}
        #{{index $tag }}
        {{end}}
    </span>
</body>

</html>
